In [1]:
import pandas as pd

In [14]:
df = pd.DataFrame.from_dict( {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']})
af = pd.DataFrame.from_dict( {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']})

In [17]:
cf = pd.concat([df, af])

In [29]:
ef = cf.sort_values(by=['col_1'])[:2]
# cf['col_1'].apply(lambda x: x +1)
# cf.to_dict('records')

In [33]:
cf.iloc[:2]

   col_1 col_2
0      3     a
1      2     b

In [37]:
sf = df[['col_1']]

In [40]:
sf

   col_1  c2
0      3   1
1      2   2
2      1  34
3      0   5

In [27]:
from pathlib import Path
p = Path('/yo/fjd/fjakf/test.png')
p.stem

'test.png'

In [13]:
df[['col_1', 'col_2']].map()

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d